node_modules
node_modules/*
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

mobile/ios/build
mobile/ios/App/App.xcodeproj/project.pbxproj
mobile/ios/App/App.xcodeproj/xcuserdata
mobile/ios/App/App.xcodeproj/xcuserdata/*
mobile/ios/App/App.xcodeproj/xcuserdata/nothomas.xcuserdatad/xcschemes/xcschememanagement.plist
mobile/ios/App/App.xcodeproj/xcuserdata/nothomas.xcuserdatad/xcschemes/App.xcscheme
mobile/ios/App/App.xcodeproj/xcuserdata/nothomas.xcuserdatad/xcschemes/App.xcscheme.xcschemeactions.plist
mobile/ios/App/App.xcodeproj/xcuserdata/nothomas.xcuserdatad/xcschemes/App.xcscheme.xcschemeactions.plist
mobile/android/app/build
mobile/android/app/release
mobile/android/app/debug
mobile/android/app/release